{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #e872ff;
    
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.473);
}

h1 {
    font-size: 2em;
    color: #ff04c9;
}   

h2 {
    font-size: 1.2em;
    color: #ff04c9;
}

img.lado {
    float: right
}   

a{
    text-decoration: none
    font-weight: bold;
    color: #ff04c9;
}
a:hover {
    text-decoration: underline;
    color: #ff85e1;
}   